$color-white: #ffffff;
$color-black: #000000;
$color-btn-primary: #0000ff;
$color-btn-disable: #40404a;
$color-error-text: rgb(182, 0, 0);
$color-bg-link: #0052f2;
$color-bg-weather-card: #dedede;
$color-shadow-gray: rgba(154, 154, 161, 1);
$color-btn-shadow: rgba(66, 68, 90, 1);
$color-bg-gray: rgba(126, 126, 126, 0.2);
$color-bg-chart: rgba(0, 24, 81, 0.382);
