.btnLink_rightContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  margin: 12% 15px 0 0;

  .iconContainer {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.btnLink_leftContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  margin: 15% 15px 0 0;

  .iconContainer {
    margin-right: 10px;
  }
}

.btnLink:focus {
  border: none;
  outline: none;
}

.btnLink_text {
  margin-right: 15px;
  margin-left: 15px;
}
